{% extends "admins/layout.njk" %}

{% block style %}
    <link rel="stylesheet" href="/styles/admins/index.css">
{% endblock style %}

{% block head %}
    <title>Foodfy</title>
{% endblock head %}

{% block content %}

    <main>

        <div class="cards-title">
            <p>Gerenciar receitas</p>
            <a href="/admin/recipes/create">Criar receita</a>
        </div>

        <section class="cards">

            {% for recipe in recipes %}

                <div class="card">
                    <div class="gallery">
                        {% if not recipe.files[0] %}
                            <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO">
                        {% else %}
                            <img 
                                src="{{recipe.files[0].src}}" 
                                alt="{{recipe.files[0].name}}"
                            >
                        {% endif %}
                    </div>

                    <div class="card-content">
                        <p id="name">{{ recipe.title }}</p>
                        <p id="by">por {{ recipe.chef_name }}</p>
                        <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                    </div>
                </div>

            {% endfor %}

        </section>

        <div class="pagination"
                data-page = {{pagination.page}}
                data-total = {{pagination.total}}
                data-filter = {{filter}}
        ></div>

    </main>

{% endblock content %}

{% block script %}
    <script src="/scripts/paginate.js"></script>
{% endblock script %}