{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section class="image" style="background: url({{ teacher.image_url }}) no-repeat center center / cover"></section>

        <section class="details">

            <h3>Detalhes</h3>

            <div class="item">
                <div>Professor</div>
                <div>{{ teacher.name }}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{ teacher.age }}</div>
            </div>

            <div class="item">
                <div>Grau de escolaridade</div>
                <div>{{ teacher.education_level }}</div>
            </div>

            <div class="item">
                <div>Tipo de aula</div>
                <div>{{ "Presencial" if teacher.class_type == "P" else "À distância" }}</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    {% for subject in teacher.school_subjects %}
                        <span>{{ subject }}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>{{ teacher.created_at }}</div>
            </div>

            <form id="form_delete" method="POST" action="/teachers?_method=DELETE">
                <input type="hidden" name="id" value="{{ teacher.id }}">
            </form>

            <div class="buttons">
                <a href="/teachers/{{ teacher.id }}/edit" class="button">Editar</a>
                <button id="btn_delete" type="submit" form="form_delete">Deletar</button>
            </div>

        </section>
    </div>

{% endblock content %}