<script>
    const formDelete = document.querySelector("#form_delete")
    formDelete.addEventListener("submit", function (event) {
        const confirmation = confirm(`Deseja realmente deletar o estudante "{{student.name}}"?`)
        if (!confirmation) {
            event.preventDefault()
        }
    })
</script>