{% extends "layout.njk" %}

{% block style %}
    <link rel="stylesheet" href="/styles/recipe.css">
{% endblock style %}

{% block head %}
    <title>Receitas</title>
{% endblock head %}

{% block header %}

    <header>
        <div class="header-container">
            <nav>
                <a href="/">
                    <img src="/assets/logo.png" alt="">
                </a>
                <a id="menu" href="/about">Sobre</a>
                <a href="/recipes">Receitas</a>
            </nav>
        </div>
    </header>

{% endblock header %}

{% block content %}

    <main>

        <section class="cards">

            <div class="card">
                <div class="image-container">
                    <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
                </div>

                <div class="card-content">
                    <p id="name">{{ recipe.title }}</p>
                    <p id="by">{{ recipe.author }}</p>
                </div>
            </div>

        </section>

        <section class="recipe">

            <div class="ingredients">
                <div class="title">
                    <h1>Ingredientes</h1>
                    <span id="btnIngredients">Esconder</span>
                </div>
                <div class="content">
                    {% for ingredient in recipe.ingredients %}
                        <ul>
                            <li>{{ ingredient }}</li>
                        </ul>
                    {% endfor %}
                </div>
            </div>

            <div class="preparation">
                <div class="title">
                    <h1>Modo de preparo</h1>
                    <span id="btnPreparation">Esconder</span>
                </div>
                <div class="content">
                    {% for preparation in recipe.preparation %}
                        <ul>
                            <li>{{ preparation }}</li>
                        </ul>
                    {% endfor %}
                </div>
            </div>

            {% if recipe.information != "" %}
                <div class="information">
                    <div class="title">
                        <h1>Informações adicionais</h1>
                        <span id="btnInformation">Esconder</span>
                    </div>
                    <div class="content">
                        <p>{{ recipe.information }}</p>
                    </div>
                </div>
            {% endif %}

        </section>

    </main>

{% endblock content %}

{% block script %}
    <script src="/scripts/script.js"></script>
{% endblock script %}