{% extends "admins/layout.njk" %}

{% block style %}
    <link rel="stylesheet" href="/styles/admins/index.css">
{% endblock style %}

{% block head %}
    <title>Foodfy</title>
{% endblock head %}

{% block content %}

    <main>

        <div class="cards-title">
            <p>Gerenciar receitas</p>
            <a href="/admin/recipes/create">Criar receita</a>
        </div>

        <section class="cards">

            {% for recipe in recipes %}

                <div class="card">
                    <div class="image-container">
                        <img src="{{recipe.image}}" alt="Imagem de {{recipe.title}}">
                    </div>

                    <div class="card-content">
                        <p id="name">{{ recipe.title }}</p>
                        <p id="by">por {{ recipe.chef_name }}</p>
                        <a href="/admin/recipes/{{ recipe.id }}">Visualizar</a>
                    </div>
                </div>

            {% endfor %}

        </section>

    </main>

{% endblock content %}