<div class="item">
    <div class="field">Nome</div>
    <div class="inputs">
        <input type="text" name="name" placeholder="" value="{{ chef.name }}" required="required">
    </div>
</div>

<div class="item">
    <div class="field">Avatar</div>
    <div class="inputs">
        <input type="url" name="avatar_url" placeholder="https://" value="{{ chef.avatar_url }}" required="required">
    </div>
</div>