{% extends "layout.njk" %}

{% block head %}
    <title>About</title>
{% endblock head %}

{% block style %}
    <link rel="stylesheet" href="/styles/about.css">
{% endblock style %}

{% block header %}

    <header>
        <div id="header">
            <legend>
                <img src="/assets/logo.jpg" alt="Logotipo Rocketseat">
                <h1>Rocketseat</h1>
            </legend>

            <div id="content">
                <a href="/">Cursos</a>
            </div>
        </div>
    </header>

{% endblock header %}

{% block content %}

    <div>
        <legend id="desc">
            <p>{{ about.description }}</p>
            <ul>
                {{ about.techTitle }}
                
                {% for tech in about.technologies %}
                    <li>{{ tech }}</li>
                {% endfor %}
            </ul>
        </legend>
    </div>

    <div>
        <legend id="links">
            {% for link in about.links %}
                <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
            {% endfor %}
        </legend>
    </div>

{% endblock content%}