{% extends "layout.njk" %}

{% block head %}
    <title>Erro 404</title>
{% endblock head %}

{% block style %}
    <link rel="stylesheet" href="/styles/error404.css">
{% endblock style %}

{% block header %}

    <header>
        <h1>Página não encontrada</h1>
    </header>

{% endblock header %}