{% extends "users/layout.njk" %}

{% block style %}
    <link rel="stylesheet" href="/styles/users/recipes.css">
{% endblock style %}

{% block head %}
    <title>Receitas</title>
{% endblock head %}

{% block content %}

    <main>

        <div class="filter">

            {% if filter %}
                <div class="search">
                    <p>Buscando por "{{ filter }}"</p>
                </div>
            {% endif %}

            {% if total < 1 %}
                <div class="none">
                    <p>Nenhuma receita foi encontrada</p>
                </div>
            {% endif %}

        </div>

        <section class="cards">

            {% for recipe in recipes %}

                <div class="card">
                    <div class="image-container">
                        <a href="/recipes/{{ recipe.id }}">
                            {% if not recipe.files[0] %}
                                <img src="http://placehold.it/500x500?text=PRODUTO SEM FOTO">
                            {% else %}
                                <img 
                                    src="{{recipe.files[0].src}}" 
                                    alt="{{recipe.files[0].name}}"
                                >
                            {% endif %}
                        </a>
                    </div>

                    <div class="card-content">
                        <p id="name">{{ recipe.title }}</p>
                        <p id="by">por {{ recipe.chef_name }}</p>
                    </div>
                </div>

            {% endfor %}

        </section>

    </main>

{% endblock content %}

{% block paginate %}
    <div class="pages">
        <div class="pagination"
            data-page = {{pagination.page}}
            data-total = {{pagination.total}}
            data-filter = {{filter}}
        ></div>
    </div>
{% endblock paginate %}

{% block script %}
    <script src="/scripts/paginate.js"></script>
{% endblock script %}