{% extends "admins/layout.njk" %}

{% block style %}
    <link rel="stylesheet" href="/styles/admin_edit.css">
{% endblock style %}

{% block content %}

    <form class="recipe" method="POST" action="/admin/recipes">
        <section class="details">

            {% include "admins/fields.njk" %}

        </section>
    </form>

{% endblock content %}

{% block script %}
    <script src="/scripts/admin_add.js"></script>
{% endblock script %}