<!DOCTYPE html>
<html lang="pt-BR">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

        {% block style %}{% endblock style %}

        {% block head %}
            <title>Foodfy</title>
        {% endblock head %}

    </head>

    <body>

        <header>
            <div class="header-container">
                <nav>
                    <a href="/index">
                        <img src="/assets/logo_admin.png" alt="Imagem do logo Foodfy">
                    </a>
                </nav>
            </div>
        </header>

        <div class="page-container">

            {% block content %}{% endblock content %}

        </div>

        {% block script %}{% endblock script %}

    </body>

</html>