:root {
    --title-color: #111111;
    --primary-color: #6558C3;
    --btn_delete-color: #DC4747;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body,
input,
select,
textarea {
    font-family: 'Roboto', sans-serif;
}

.page-container,
.header-container nav {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

.header-container {
    height: 80px;
    background-color: var(--title-color);
    display: flex;
    align-items: center;
}

.header-container nav {
    display: inline-flex;
    align-items: center;
}

.header-container nav img {
    padding-right: 50.4px;
}

.header-container nav a {
    font-size: 15px;
    line-height: 18px;
    color: #999999;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.header-container nav a + a:not(:last-child) {
    padding-right: 30px;
}

.header-container nav a.active {
    color: #FFFFFF;
}

/* === FORM === */

.details .title {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.details .title h3 {
    font-size: 24px;
    line-height: 28px;
    color: var(--title-color);
    font-weight: bold;
}

.buttons {
    display: flex;
}

.buttons button[type="submit"] {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    border-radius: 4px;
    padding: 9px 20px;
    cursor: pointer;
}

.buttons button#btn_delete[type="submit"] {
    background-color: var(--btn_delete-color);
    margin-right: 10px;
}

.buttons button[type="submit"]:hover {
    box-shadow: 0 0 0 3px var(--primary-color);
}

.buttons button#btn_delete[type="submit"]:hover {
    box-shadow: 0 0 0 3px var(--btn_delete-color);
}

.item .field {
    color: var(--title-color);
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    margin: 30px 0 10px;
}

.item .inputs,
.add .addInput {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.item input,
.item select,
.item option,
.item textarea {
    border: 1px solid #DDDDDD;
    font-size: 16px;
    line-height: 19px;
    color: var(--title-color);
    border-radius: 4px;
    padding: 15px 20px;
}

.item textarea {
    line-height: 24px;
    padding: 18px 20px;
    margin-bottom: 80px;
}

.item .button span {
    display: block;
    color: var(--primary-color);
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    margin-top: 15px;
    cursor: pointer;
}

.item select:invalid,
.item input::placeholder {
    color: #999999;
}

.item select {
    cursor: pointer;
    appearance: none;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAArklEQVRIie2PwUrEQBBEX23YT02LoInrh7hJLqb7R/XWXjIgYkKyexBh3mUOVdTrgUql8re4+/nezmktmOf5GfhY3s2Ouz8dFkhqgEbS6O7dz9zdO0nj0mkOC8xszMwREDBERP9t/AEYlszbtp1WD10LADJT7n6V1AMp6ZKZn8B7GTezR0l5k6BIImIAOqAMCZjM7GVrfJfgl5+w5/JDgiKJiFcAM3vbM16p/BO+AJkZS1cfYrxBAAAAAElFTkSuQmCC) no-repeat;
    background-position: right 20px center;
}

/* PHOTOS UPLOAD */

.item .photos {
    display: flex;
}

.item #photos-upload {
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 150px;
    border: 1px solid #DDDDDD;
    border-radius: 3.5px;
    margin-right: 10.5px;
}

.item #photos-upload span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.item #photos-upload span img {
    width: 28px;
    height: 28px;
}

.item #photos-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    padding: 0;
    cursor: pointer;
}

.item #photos-upload:hover {
    background-color: #eeecf8;
}

/* PHOTOS PREVIEW */

.item #photos-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    width: fit-content;
}

.item #photos-preview .photo {
    position: relative;
    width: 150px;
    height: 150px;
}

.item #photos-preview .photo img {
    width: 100%;
    height: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 3.5px;
    object-fit: cover;
}

.item #photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    color: #FF0000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39.6px;
    font-weight: bold;
    cursor: pointer;
    transition: opacity 200ms;
    opacity: 0;
}

.item #photos-preview .photo:hover i {
    opacity: 1;
}

.item #photos-preview .photo:hover img {
    opacity: 0.15;
}