:root {
    --title-color: #111111;
    --btn-color: #6558C3;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.page-container,
.header-container nav {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

.header-container {
    height: 80px;
    background-color: var(--title-color);
    display: flex;
    align-items: center;
}

.header-container nav {
    display: inline-flex;
    align-items: center;
}

.header-container nav img {
    padding-right: 50.4px;
}

.header-container nav a {
    font-size: 15px;
    line-height: 18px;
    color: #999999;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.header-container nav a + a:not(:last-child) {
    padding-right: 30px;
}

.header-container nav a.active {
    color: #FFFFFF;
}

/* === CARDS === */

.card .card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 0 20px;
}

.card .card-title h3 {
    font-size: 24px;
    line-height: 28px;
    color: var(--title-color);
    text-transform: capitalize;
    font-weight: bold;
}

.card .card-title a {
    background-color: var(--btn-color);
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    border-radius: 4px;
    padding: 9px 20px;
    text-decoration: none;
    cursor: pointer;
}

.card .card-title a:hover {
    box-shadow: 0 0 0 3px var(--btn-color);
}

/* === IMAGE GALLERY === */

.card .gallery {
    display: grid;
    row-gap: 6px;
}

.card .gallery .highlight img {
    width: 100%;
    height: 280px;
    border-radius: 15px;
    object-fit: cover;
}

.card .gallery-preview {
    display: flex;
    justify-content: end;
    margin-bottom: 6px;
}

.card .gallery-preview .all_images-container {
    display: flex;
    column-gap: 10px;
}

.card .gallery-preview .all_images-container img {
    width: 50px;
    height: 50px;
    border: 1px solid #DDDDDD;
    border-radius: 3.5px;
    object-fit: cover;
    opacity: 0.5;
    cursor: pointer;
}

.card .gallery-preview .all_images-container img:hover,
.card .gallery-preview .all_images-container img.active {
    opacity: unset;
}

.card-content {
    display: grid;
    gap: 4px 0;
    text-align: center;
    margin-bottom: 31px;
}

.card .card-content p#name {
    font-size: 36px;
    line-height: 42px;
    color: var(--title-color);
    font-weight: bold;

}

.card .card-content p#by {
    font-size: 20px;    
    line-height: 24px;
    color: #777777;
}

.recipe .content {
    margin-bottom: 41px;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
}

.recipe .content ul {
    list-style-position: inside;
    list-style: none;
}

.recipe .content ul li::before {
    content: "- ";
}

.recipe h1 {
    color: var(--title-color);
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 19px;
}