<div class="item">
    <div>URL da imagem</div>
    <div>
        <input type="url" name="image_url" placeholder="https://" value="{{ student.image_url }}" required="required">
    </div>
</div>

<div class="item">
    <div>Nome completo</div>
    <div>
        <input type="text" name="name" value="{{ student.name }}" required="required">
    </div>
</div>

<div class="item">
    <div>E-mail</div>
    <div>
        <input type="email" name="email" value="{{ student.email }}" required="required">
    </div>
</div>

<div class="item">
    <div>Data de nascimento</div>
    <div>
        <input type="date" name="birth" value="{{ student.birth }}" required="required">
    </div>
</div>

<div class="item">
    <div>Ano escolar</div>
    <select name="school_year" required="required">
        <option value="1" {% if student.school_year == "1" %} selected="selected" {% endif %}>5º ano do ensino fundamental</option>
        <option value="2" {% if student.school_year == "2" %} selected="selected" {% endif %}>6º ano do ensino fundamental</option>
        <option value="3" {% if student.school_year == "3" %} selected="selected" {% endif %}>7º ano do ensino fundamental</option>
        <option value="4" {% if student.school_year == "4" %} selected="selected" {% endif %}>8º ano do ensino fundamental</option>
        <option value="5" {% if student.school_year == "5" %} selected="selected" {% endif %}>1º ano do ensino médio</option>
        <option value="6" {% if student.school_year == "6" %} selected="selected" {% endif %}>2º ano do ensino médio</option>
        <option value="7" {% if student.school_year == "7" %} selected="selected" {% endif %}>3º ano do ensino médio</option>
    </select>
</div>

<div class="item">
    <div>Carga horária semanal</div>
    <div>
        <input type="number" name="course_load" value="{{ student.course_load }}" required="required">
    </div>
</div>

<div class="item">
    <div>Professor</div>
    <div>
        <select name="teacher">
            {% for teacher in teacherOptions %}
                <option value="{{ teacher.id }}" {% if student.teacher_id == teacher.id %} selected="selected" {% endif %}>{{ teacher.name }}</option>
            {% endfor %}
        </select>
    </div>
</div>

<button type="submit">Salvar</button>