<!DOCTYPE html>
<html lang="pt-BR">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

        {% block style %}{% endblock style %}

        {% block head %}
            <title>Foodfy</title>
        {% endblock head %}

    </head>

    <body>

        <div class="page-flex">

            <div class="page-container">

                <header>
                    <div class="header-container">
                        <nav>
                            <a href="/index">
                                <img src="/assets/logo.png" alt="Imagem do logo Foodfy">
                            </a>
                            <a href="/about">Sobre</a>
                            <a href="/recipes">Receitas</a>
                            <a href="/chefs">Chefs</a>
                        </nav>

                        {% if recipe or recipes %}
                            <div class="filter">
                                <form action="/recipes" method="GET">
                                    <input type="text" name="filter" placeholder="Buscar uma receita">
                                    <button type="submit">Buscar</button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </header>

                {% block content %}{% endblock content %}

            </div>

            <footer>
                {% block paginate %}{% endblock paginate %}

                <div class="footer-container">
                    <p>Todos direitos reservados, receitas Foodfy.</p>
                </div>
            </footer>

        </div>

        {% block script %}{% endblock script %}

        <script src="/scripts/menu.js"></script>

    </body>

</html>