:root {
    --btn-color: #6558C3;
    --page-selected: #ffa8a8;
    --page-background: #aaddbb;
    --page-detail: #5bbe7c;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.page-container,
.header-container nav {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

.header-container {
    height: 80px;
    background-color: #111111;
    display: flex;
    align-items: center;
}

.header-container nav {
    display: inline-flex;
    align-items: center;
}

.header-container nav img {
    padding-right: 50.4px;
}

.header-container nav a {
    font-size: 15px;
    line-height: 18px;
    color: #999999;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

.header-container nav a + a:not(:last-child) {
    padding-right: 30px;
}

.header-container nav a.active {
    color: #FFFFFF;
}

/* === CHEF === */

.chef .card-title {
    margin: 50px 0 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chef .card-title h3 {
    font-size: 24px;
    line-height: 28px;
    color: #111111;
    font-weight: bold;
}

.chef .card-title a {
    background-color: var(--btn-color);
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 19px;
    font-weight: bold;
    border-radius: 4px;
    padding: 9px 20px;
    cursor: pointer;
}

.chef .card-title a:hover {
    box-shadow: 0 0 0 3px var(--btn-color);
}

.chef .card {
    display: grid;
    justify-content: center;
}

.chef .card .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.chef .card .image-container img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.chef .card .card-content {
    display: grid;
    row-gap: 4px;
    text-align: center;
}

.chef .card .card-content p#name {
    font-size: 36px;
    line-height: 42px;
    color: #111111;
    font-weight: bold;
}

.chef .card .card-content p#total {
    font-size: 20px;
    line-height: 24px;
    color: #777777;
}

/* === RECIPES === */

.recipes-title {
    margin: 50px 0 30px;
}

.recipes-title p {
    font-size: 24px;    
    line-height: 28px;
    font-weight: bold;
}

.recipes-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.recipes-card .card {
    display: inline-flex;
    align-items: center;
}

.recipes-card .card .image-container {
    width: 172px;
    height: 80px;
    margin-right: 20px;
}

.recipes-card .card .image-container img {
    width: 100%;
    height: 100%;
    border-radius: 8.57px;
}

.recipes-card .card .card-content p#name {
    font-size: 18px;
    line-height: 21px;
    color: #111111;
    max-width: 250px;
    margin-bottom: 5px;

}

.recipes-card .card .card-content p#by {
    font-size: 14px;    
    line-height: 16px;
    color: #777777;
    margin-bottom: 10px;
}

.recipes-card .card .card-content a {
    font-size: 14px;
    line-height: 16px;
    color: #6558C3;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

/* === PAGINATION === */

.page-container main {
    display: grid;
}

.page-container .pagination {
    justify-self: center;
    margin: 80px 0 50px;
}

.page-container .pagination a {
    color: black;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    background-color: var(--page-background);
    font-size: 13px;
}

.page-container .pagination a + a {
    margin-left: 8px;
}

.page-container .pagination span + a {
    margin-left: 8px;
}

.page-container .pagination a + span {
    margin-left: 8px;
}

.page-container .pagination a:hover {
    filter: brightness(0.8);
    border-bottom: 1px solid var(--page-detail);
}

/* === PAGE SELECTED === */

.page-container .pagination a.selected {
    background: none;
    border: 2px solid var(--page-selected);
    pointer-events: none;
}

/* === BUTTONS PRIOR NEXT === */

.page-container .pagination a.btnPrior,
.page-container .pagination a.btnNext {
    padding: 8px 24px;
}

.page-container .pagination a.btnPrior {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/AP+gvaeTAAABHElEQVRIie2UMUvEMBSAvzzaQQTB5cBNRwcP29oKLoKT/gBH/90N4uCho4uLg4WGdnFyc25BRHBK42Kl9M7e0HhTv+nxXpKP5CWBkZF1o/qK0+l04vv+NbCjtd4fIvL+KsRxfFjX9RzYHSLoFYVheFbX9T2w6UICIN1EHMenSqk7lxLo9CiKomPgEdhYMvYLqIBKKVUCpbW2anLW2kpEfusiUqZp+rEgSpJkzxjzDEyc7UKpWZZlV9A6OmPMrUsJgLX2vInbPfp0KfnBLIhE5BJ4cyyaN0H3MhwAT8DWkkluLkNDEARHIvIAbLfzWuveX2QVC+8oz/MMuADehyy8UgSgtU6NMQnw8q8igKIoXj3POwFugNSVcGRkfXwDMi9kZdzuHRwAAAAASUVORK5CYII=) no-repeat;
    background-position: center;
}

.page-container .pagination a.btnNext {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABmJLR0QA/wD/AP+gvaeTAAABLElEQVRIie2TPUvEQBCG3xlNYSGCm8bCn2CTaYyIgoWIYCXp5MCf5g+wsLS6ziJh/eoCgiCKlSB+NMHdtUnCXW4t9Pas8sAUO7Psw87sAj09/w1Ne4CI3BLREzMf5Xn+8tM+nlYEYM05t2eMuUqSRGYpalgloqGIbM5aBACLAM6TJNnpFsZmlKbpgrVWVVWliEgBiIkoBqAAKOfccp1XAOI6ljzCDwDbWuvLCZGInAAYBLhVwzOAda31AzDeuv2AEgBYIaLTZjEqcoFFcM59+URngT2P1trDZtHOKMuyubIsVRRF7cCtte2jqEN5Yt4jeWfmraIoridEf0VEui3/BHCgtR6OJkP/ozdm3u1KQovumHmjKIoLX9HX399yA+DeGHOstX4NcF5PTyC+AZJsVGCS/apdAAAAAElFTkSuQmCC) no-repeat;
    background-position: center;
}

.page-container .pagination a.btnPrior:hover,
.page-container .pagination a.btnNext:hover {
    border: 0;
    filter: none;
    border-top: 2px solid var(--page-background);
    border-bottom: 2px solid var(--page-background);
}